/* --------------------- GENERAL CSS --------------------- */

body {
	margin: 0;
	font-family: helvetica, verdana, arial, sans-serif;
}

*, *:before, *:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

header, footer, section {
	padding: 10px;
	display: block;
}

header, footer {
	width: 100%;
	background: #000;
	color: #fff;
}

section {
	min-height: 100px;
}

main {
	background: #fff;
	height: 100%;
}

h1, h3, p {
	text-align: center;
	margin: 0;
	padding: 0;
}

#left {
	background: #f00;
}

#mid {
	background: #00f;
}

#right {
	background: #0f0;
}

/* ==================== RESPONSIVE CSS ========================== */

/* --------------------- MOBILE PHONES --------------------- */
@media screen and (max-width: 640px) {
	header {
		
	}
}

/* --------------------- TABLETS --------------------- */
@media screen and (min-width: 786px) and (max-width: 1024px) {
	#left, #right {
		width: 50%;
	}
	
	#mid {
		width: 100%;
	}
}

/* --------------------- DESKTOP --------------------- */
@media screen and (min-width: 1024px) {
	main {
		margin: 0 auto;
		width: 80%;
	}
	
	header {
		width: 100%;
	}
	
	section {
		display: inline-block;
		min-height: 300px;
	}
	
	footer {
		position: relative;
	}
	
	#left, #right {
		width: 19%;
	}
	
	#mid {
		width: 60%;
	}
	
}

/* ==================== PRINT CSS ========================== */

/* --------------------- PRINT --------------------- */
@media print {
	/* Must make page greyscale compliant */
}