/* --------------------- GENERAL CSS --------------------- */

body {
	margin: 0;
	font-family: helvetica, verdana, arial, sans-serif;
}

header, footer {
	width: 100%;
	background: #000;
	color: #fff;
	clear: both;
}

section {
	min-height: 200px; /* Only used so that columns display longer than content. */
}

h1, h3, p {
	text-align: center;
	margin: 0;
	padding: 0;
}

#left {
	background: #f00;
}

#mid {
	background: #00f;
}

#right {
	background: #0f0;
}


/* ==================== RESPONSIVE CSS ========================== */

/* --------------------- MOBILE PHONES --------------------- */
@media screen and (max-width: 640px) {
	
}

/* --------------------- TABLETS --------------------- */
@media screen and (min-width: 786px) and (max-width: 1024px) {
	section {
		display: inline-block;
	}
	
	#left {
		width: 25%;
	}
	
	#mid {
		width: 75%;
		float: right;
	}
	
	#right {
		width: 75%;
		float: right;
	}
}

/* --------------------- DESKTOP --------------------- */
@media screen and (min-width: 1024px) {
	main {
		margin: 0 auto;
		width: 80%;
	}
	
	section {
		display: inline-block;
	}

	#left, #right {
		width: 19%;
	}
	
	#mid {
		width: 60%;
	}
	
}

/* ==================== PRINT CSS ========================== */

/* --------------------- PRINT --------------------- */
@media print {
	/* Must make page greyscale compliant */
}